<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>PD2AF - a conversion tool for SBGN diagrams</title>
<meta charset="utf-8">
<link rel="stylesheet" href="styles/common.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular/specification.js"></script>
    <link rel="stylesheet" href="styles/specification.css">
  </head>
  <body ng-app="specification" ng-controller="specification_controller">
    <div class="page_container">
      <header>
  <div class="logo">
    <img src="img/pd2af_logo.png" alt="pd2af logo" />
  </div>
  <nav>
    <a href="index.html" >Start</a><a href="specification.html" class="current_page_nav">Specification</a><a href="cases.html" >Cases</a><a href="translator.html" >Try it!</a>
  </nav>
</header>


			<h1>Specification of translation rules</h1>

			<p>Here is a specification for the translation rules. We start from most elementary patterns and follow to more and more complex ones. All these patterns are also test cases for regression testing of the Converter program. With each case we ensure that converter code translates left-hand diagram exactly to the right-hand diagram, while both considering as standalone schemes.</p>

      

      

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[1], set_passed: !bugs[1] && passed[1] > 0}">
    <div class="window_button maximize" ng-hide="show[1]" ng-click="toggle_show(1)"></div>
    <div class="window_button minimize" ng-show="show[1]" ng-click="toggle_show(1)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Elementary Regulation <span>#(failed[1])#/#(passed[1])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[1]">
    
      <h3>1.1 i-sti-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-sti-i/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/i-sti-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-sti-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-sti-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.2 i-cat-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-cat-i/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/i-cat-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-cat-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-cat-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-cat-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-cat-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.3 i-nsti-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-nsti-i/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/i-nsti-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-nsti-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-nsti-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-nsti-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-nsti-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.4 i-mod-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-mod-i/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/i-mod-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-mod-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-mod-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-mod-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-mod-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.5 i-inh-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-inh-i/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/i-inh-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-inh-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inh-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-inh-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inh-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.6 i-sti-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-sti-a/pd.png" width="240" /></div>
          </td>
          <td>
            <img src="specification/i-sti-a/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-sti-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-sti-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.7 i-cat-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-cat-a/pd.png" width="240" /></div>
          </td>
          <td>
            <img src="specification/i-cat-a/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-cat-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-cat-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-cat-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-cat-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.8 i-nsti-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-nsti-a/pd.png" width="240" /></div>
          </td>
          <td>
            <img src="specification/i-nsti-a/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-nsti-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-nsti-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-nsti-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-nsti-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.9 i-mod-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-mod-a/pd.png" width="240" /></div>
          </td>
          <td>
            <img src="specification/i-mod-a/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-mod-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-mod-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-mod-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-mod-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.10 i-inh-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-inh-a/pd.png" width="240" /></div>
          </td>
          <td>
            <img src="specification/i-inh-a/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-inh-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inh-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-inh-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inh-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.11 a-sti-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-sti-i/pd.png" width="236" /></div>
          </td>
          <td>
            <img src="specification/a-sti-i/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-sti-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-sti-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-sti-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-sti-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.12 a-cat-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-cat-i/pd.png" width="236" /></div>
          </td>
          <td>
            <img src="specification/a-cat-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-cat-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-cat-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.13 a-nsti-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-nsti-i/pd.png" width="236" /></div>
          </td>
          <td>
            <img src="specification/a-nsti-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-nsti-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-nsti-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-nsti-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-nsti-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.14 a-mod-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-mod-i/pd.png" width="244" /></div>
          </td>
          <td>
            <img src="specification/a-mod-i/af.png" width="78" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-mod-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-mod-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-mod-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-mod-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.15 a-inh-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-inh-i/pd.png" width="236" /></div>
          </td>
          <td>
            <img src="specification/a-inh-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-inh-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-inh-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.16 a-sti-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-sti-a/pd.png" width="234" /></div>
          </td>
          <td>
            <img src="specification/a-sti-a/af.png" width="238" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-sti-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-sti-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-sti-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-sti-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.17 a-cat-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-cat-a/pd.png" width="234" /></div>
          </td>
          <td>
            <img src="specification/a-cat-a/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-cat-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-cat-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.18 a-nsti-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-nsti-a/pd.png" width="242" /></div>
          </td>
          <td>
            <img src="specification/a-nsti-a/af.png" width="238" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-nsti-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-nsti-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-nsti-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-nsti-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.19 a-mod-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-mod-a/pd.png" width="242" /></div>
          </td>
          <td>
            <img src="specification/a-mod-a/af.png" width="238" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-mod-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-mod-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-mod-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-mod-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.20 a-inh-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-inh-a/pd.png" width="234" /></div>
          </td>
          <td>
            <img src="specification/a-inh-a/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-inh-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-inh-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.21 m-sti-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-sti-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-sti-m/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-sti-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-sti-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-sti-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-sti-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.22 m-cat-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-cat-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-cat-m/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-cat-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-cat-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-cat-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-cat-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.23 m-nsti-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-nsti-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-nsti-m/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-nsti-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-nsti-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-nsti-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-nsti-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.24 m-mod-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-mod-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-mod-m/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-mod-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-mod-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-mod-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-mod-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.25 m-inh-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-inh-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-inh-m/af.png" width="186" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-inh-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-inh-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-inh-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-inh-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.26 aiaimm-cat-aiiamm</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/aiaimm-cat-aiiamm/pd.png" width="238" /></div>
          </td>
          <td>
            <img src="specification/aiaimm-cat-aiiamm/af.png" width="302" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/aiaimm-cat-aiiamm/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/aiaimm-cat-aiiamm/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/aiaimm-cat-aiiamm/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/aiaimm-cat-aiiamm/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.27 a-catr-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-catr-a/pd.png" width="234" /></div>
          </td>
          <td>
            <img src="specification/a-catr-a/af.png" width="294" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-catr-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-catr-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-catr-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-catr-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.28 a-catr-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-catr-i/pd.png" width="236" /></div>
          </td>
          <td>
            <img src="specification/a-catr-i/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-catr-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-catr-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-catr-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-catr-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.29 i-inhr-a</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-inhr-a/pd.png" width="232" /></div>
          </td>
          <td>
            <img src="specification/i-inhr-a/af.png" width="262" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-inhr-a/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inhr-a/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-inhr-a/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-inhr-a/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.30 m-catr-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-catr-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-catr-m/af.png" width="286" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-catr-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-catr-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-catr-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-catr-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.31 m-inhr-m</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/m-inhr-m/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/m-inhr-m/af.png" width="282" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/m-inhr-m/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-inhr-m/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/m-inhr-m/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/m-inhr-m/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.32 Logical gates</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/logical_gates/pd.png" width="334" /></div>
          </td>
          <td>
            <img src="specification/logical_gates/af.png" width="310" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/logical_gates/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/logical_gates/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/logical_gates/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/logical_gates/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>1.33 Logical gates or</h3>
      <div><div class="test_button passed" ng-init="increment_passed(1)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/logical_gates_or/pd.png" width="232" /></div>
          </td>
          <td>
            <img src="specification/logical_gates_or/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/logical_gates_or/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/logical_gates_or/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/logical_gates_or/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/logical_gates_or/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[2], set_passed: !bugs[2] && passed[2] > 0}">
    <div class="window_button maximize" ng-hide="show[2]" ng-click="toggle_show(2)"></div>
    <div class="window_button minimize" ng-show="show[2]" ng-click="toggle_show(2)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Source And Sinks <span>#(failed[2])#/#(passed[2])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[2]">
    
      <h3>2.1 ss-sti-i</h3>
      <div><div class="test_button passed" ng-init="increment_passed(2)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/ss-sti-i/pd.png" width="224" /></div>
          </td>
          <td>
            <img src="specification/ss-sti-i/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/ss-sti-i/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/ss-sti-i/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/ss-sti-i/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/ss-sti-i/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>2.2 i-sti-ss</h3>
      <div><div class="test_button passed" ng-init="increment_passed(2)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/i-sti-ss/pd.png" width="218" /></div>
          </td>
          <td>
            <img src="specification/i-sti-ss/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/i-sti-ss/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-ss/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/i-sti-ss/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/i-sti-ss/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>2.3 a-cat-ss</h3>
      <div><div class="test_button passed" ng-init="increment_passed(2)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-cat-ss/pd.png" width="218" /></div>
          </td>
          <td>
            <img src="specification/a-cat-ss/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-cat-ss/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-ss/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-cat-ss/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-cat-ss/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>2.4 a-inh-ss</h3>
      <div><div class="test_button passed" ng-init="increment_passed(2)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/a-inh-ss/pd.png" width="218" /></div>
          </td>
          <td>
            <img src="specification/a-inh-ss/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/a-inh-ss/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-ss/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/a-inh-ss/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/a-inh-ss/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[3], set_passed: !bugs[3] && passed[3] > 0}">
    <div class="window_button maximize" ng-hide="show[3]" ng-click="toggle_show(3)"></div>
    <div class="window_button minimize" ng-show="show[3]" ng-click="toggle_show(3)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Oligomerization <span>#(failed[3])#/#(passed[3])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[3]">
    
      <h3>3.1 Dimerization x2</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/dimerization_x2/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/dimerization_x2/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/dimerization_x2/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/dimerization_x2/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/dimerization_x2/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/dimerization_x2/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.2 Oligomerization x3</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x3/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x3/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x3/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x3/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x3/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x3/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.3 Oligomerization x4</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x4/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x4/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x4/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x4/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x4/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x4/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.4 Oligomerization x5</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x5/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x5/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x5/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x5/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x5/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x5/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.5 Oligomerization x6</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x6/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x6/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x6/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x6/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x6/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x6/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.6 Oligomerization x7</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x7/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x7/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x7/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x7/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x7/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x7/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.7 Oligomerization x8</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x8/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x8/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x8/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x8/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x8/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x8/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.8 Oligomerization x9</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x9/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x9/af.png" width="71" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x9/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x9/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x9/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x9/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.9 Oligomerization x10</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x10/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x10/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x10/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x10/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x10/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x10/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.10 Multimerization 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/multimerization_1/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/multimerization_1/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/multimerization_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/multimerization_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/multimerization_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/multimerization_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.11 Multimerization 2</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/multimerization_2/pd.png" width="78" /></div>
          </td>
          <td>
            <img src="specification/multimerization_2/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/multimerization_2/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/multimerization_2/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/multimerization_2/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/multimerization_2/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>3.12 Oligomerization x6 r</h3>
      <div><div class="test_button passed" ng-init="increment_passed(3)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/oligomerization_x6_r/pd.png" width="154" /></div>
          </td>
          <td>
            <img src="specification/oligomerization_x6_r/af.png" width="166" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/oligomerization_x6_r/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x6_r/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/oligomerization_x6_r/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/oligomerization_x6_r/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[4], set_passed: !bugs[4] && passed[4] > 0}">
    <div class="window_button maximize" ng-hide="show[4]" ng-click="toggle_show(4)"></div>
    <div class="window_button minimize" ng-show="show[4]" ng-click="toggle_show(4)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Translocation <span>#(failed[4])#/#(passed[4])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[4]">
    
      <h3>4.1 Translocation 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(4)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/translocation_1/pd.png" width="124" /></div>
          </td>
          <td>
            <img src="specification/translocation_1/af.png" width="124" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/translocation_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/translocation_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/translocation_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/translocation_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>4.2 Translocation 2</h3>
      <div><div class="test_button passed" ng-init="increment_passed(4)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/translocation_2/pd.png" width="204" /></div>
          </td>
          <td>
            <img src="specification/translocation_2/af.png" width="284" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/translocation_2/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/translocation_2/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/translocation_2/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/translocation_2/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[5], set_passed: !bugs[5] && passed[5] > 0}">
    <div class="window_button maximize" ng-hide="show[5]" ng-click="toggle_show(5)"></div>
    <div class="window_button minimize" ng-show="show[5]" ng-click="toggle_show(5)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Complexes <span>#(failed[5])#/#(passed[5])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[5]">
    
      <h3>5.1 Complex association with complex name</h3>
      <div><div class="test_button passed" ng-init="increment_passed(5)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/complex_association_with_complex_name/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/complex_association_with_complex_name/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/complex_association_with_complex_name/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association_with_complex_name/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/complex_association_with_complex_name/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association_with_complex_name/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>5.2 Complex association</h3>
      <div><div class="test_button passed" ng-init="increment_passed(5)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/complex_association/pd.png" width="258" /></div>
          </td>
          <td>
            <img src="specification/complex_association/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/complex_association/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/complex_association/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>5.3 Complex association regulated</h3>
      <div><div class="test_button passed" ng-init="increment_passed(5)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/complex_association_regulated/pd.png" width="246" /></div>
          </td>
          <td>
            <img src="specification/complex_association_regulated/af.png" width="190" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/complex_association_regulated/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association_regulated/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/complex_association_regulated/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_association_regulated/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>5.4 Complex dissociation</h3>
      <div><div class="test_button passed" ng-init="increment_passed(5)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/complex_dissociation/pd.png" width="230" /></div>
          </td>
          <td>
            <img src="specification/complex_dissociation/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/complex_dissociation/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_dissociation/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/complex_dissociation/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/complex_dissociation/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[6], set_passed: !bugs[6] && passed[6] > 0}">
    <div class="window_button maximize" ng-hide="show[6]" ng-click="toggle_show(6)"></div>
    <div class="window_button minimize" ng-show="show[6]" ng-click="toggle_show(6)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Hidden Inhibition <span>#(failed[6])#/#(passed[6])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[6]">
    
      <h3>6.1 Hidden inhibition 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(6)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/hidden_inhibition_1/pd.png" width="392" /></div>
          </td>
          <td>
            <img src="specification/hidden_inhibition_1/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/hidden_inhibition_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/hidden_inhibition_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/hidden_inhibition_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/hidden_inhibition_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>6.2 Hidden inhibition 2</h3>
      <div><div class="test_button passed" ng-init="increment_passed(6)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/hidden_inhibition_2/pd.png" width="392" /></div>
          </td>
          <td>
            <img src="specification/hidden_inhibition_2/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/hidden_inhibition_2/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/hidden_inhibition_2/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/hidden_inhibition_2/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/hidden_inhibition_2/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[7], set_passed: !bugs[7] && passed[7] > 0}">
    <div class="window_button maximize" ng-hide="show[7]" ng-click="toggle_show(7)"></div>
    <div class="window_button minimize" ng-show="show[7]" ng-click="toggle_show(7)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Patterns <span>#(failed[7])#/#(passed[7])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[7]">
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[8], set_passed: !bugs[8] && passed[8] > 0}">
    <div class="window_button maximize" ng-hide="show[8]" ng-click="toggle_show(8)"></div>
    <div class="window_button minimize" ng-show="show[8]" ng-click="toggle_show(8)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Simple Schemes <span>#(failed[8])#/#(passed[8])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[8]">
    
      <h3>8.1 raf-mek-erk</h3>
      <div><div class="test_button passed" ng-init="increment_passed(8)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/raf-mek-erk/pd.png" width="310" /></div>
          </td>
          <td>
            <img src="specification/raf-mek-erk/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/raf-mek-erk/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/raf-mek-erk/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/raf-mek-erk/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/raf-mek-erk/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>8.2 Elk signalling</h3>
      <div><div class="test_button passed" ng-init="increment_passed(8)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/elk_signalling/pd.png" width="470" /></div>
          </td>
          <td>
            <img src="specification/elk_signalling/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/elk_signalling/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/elk_signalling/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/elk_signalling/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/elk_signalling/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[9], set_passed: !bugs[9] && passed[9] > 0}">
    <div class="window_button maximize" ng-hide="show[9]" ng-click="toggle_show(9)"></div>
    <div class="window_button minimize" ng-show="show[9]" ng-click="toggle_show(9)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>New Schemes <span>#(failed[9])#/#(passed[9])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[9]">
    
      <h3>9.1 Currency metabolites 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(9)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/currency_metabolites_1/pd.png" width="232" /></div>
          </td>
          <td>
            <img src="specification/currency_metabolites_1/af.png" width="70" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/currency_metabolites_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/currency_metabolites_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/currency_metabolites_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/currency_metabolites_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>9.2 Noncurrency metabolites 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(9)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/noncurrency_metabolites_1/pd.png" width="232" /></div>
          </td>
          <td>
            <img src="specification/noncurrency_metabolites_1/af.png" width="290" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/noncurrency_metabolites_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/noncurrency_metabolites_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/noncurrency_metabolites_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/noncurrency_metabolites_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>9.3 Regulation combining 1</h3>
      <div><div class="test_button passed" ng-init="increment_passed(9)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/regulation_combining_1/pd.png" width="232" /></div>
          </td>
          <td>
            <img src="specification/regulation_combining_1/af.png" width="230" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/regulation_combining_1/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/regulation_combining_1/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/regulation_combining_1/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/regulation_combining_1/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>

      <div class="expandable_block">
  <div class="expandable_header skipped" ng-class="{set_failed: bugs[10], set_passed: !bugs[10] && passed[10] > 0}">
    <div class="window_button maximize" ng-hide="show[10]" ng-click="toggle_show(10)"></div>
    <div class="window_button minimize" ng-show="show[10]" ng-click="toggle_show(10)"></div>
    <!--(define tabtree (parse-tab-tree "../tests/test-results.tree"))-->
    <h2>Metabolism Regulation Maps <span>#(failed[10])#/#(passed[10])#</span></h2>
  </div>
  <div class="expandable_body" ng-show="show[10]">
    
      <h3>10.1 MR001-glycolysis</h3>
      <div><div class="test_button passed" ng-init="increment_passed(10)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/MR001-glycolysis/pd.png" width="0" /></div>
          </td>
          <td>
            <img src="specification/MR001-glycolysis/af.png" width="0" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/MR001-glycolysis/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR001-glycolysis/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/MR001-glycolysis/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR001-glycolysis/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>10.2 MR002-glycolysis-alt</h3>
      <div><div class="test_button passed" ng-init="increment_passed(10)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/MR002-glycolysis-alt/pd.png" width="0" /></div>
          </td>
          <td>
            <img src="specification/MR002-glycolysis-alt/af.png" width="0" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/MR002-glycolysis-alt/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR002-glycolysis-alt/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/MR002-glycolysis-alt/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR002-glycolysis-alt/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>10.3 MR003-eicosanoids</h3>
      <div><div class="test_button passed" ng-init="increment_passed(10)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/MR003-eicosanoids/pd.png" width="0" /></div>
          </td>
          <td>
            <img src="specification/MR003-eicosanoids/af.png" width="0" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/MR003-eicosanoids/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR003-eicosanoids/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/MR003-eicosanoids/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR003-eicosanoids/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>10.4 MR004-mevalonate</h3>
      <div><div class="test_button passed" ng-init="increment_passed(10)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/MR004-mevalonate/pd.png" width="0" /></div>
          </td>
          <td>
            <img src="specification/MR004-mevalonate/af.png" width="0" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/MR004-mevalonate/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR004-mevalonate/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/MR004-mevalonate/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR004-mevalonate/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
      <h3>10.5 MR007-inos</h3>
      <div><div class="test_button passed" ng-init="increment_passed(10)"></div>
      </div>
      <table class="rules-table">
        <tr>
          <td>
            <div><img src="specification/MR007-inos/pd.png" width="0" /></div>
          </td>
          <td>
            <img src="specification/MR007-inos/af.png" width="0" />
          </td>
        </tr>
        <tr style="font-size:90%;" class="links">
          <td>
            <a href="specification/MR007-inos/pd.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR007-inos/pd.sbgn" target="_blank">Newt</a>
          </td>
          <td>
            <a href="specification/MR007-inos/af.sbgn">SBGN-ML</a>&ensp;<a href="http://web.newteditor.org/?URL=http://188.166.159.222/specification/MR007-inos/af.sbgn" target="_blank">Newt</a>
          </td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
        <tr style="line-height: 3em;">
          <td colspan="2" style="text-align:left;"></td>
        </tr>
      </table>
    
  </div>
</div>


      <div class="placeholder" ng-hide="show1 || show2"></div>

      <footer>
  <div>Page generated <b>30.07.2019</b></div>
</footer>

      <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(52309366, "init", {
        id:52309366,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/52309366" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    </div>
  </body>
</html>
